
body{
    text-align: center;
    background-color: slateblue;
}

.nav-wrapper{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    /* color: black; */
    font-size: 25px;
}

.fl-name {
  display: inline-block;
  justify-content: space-between;
  width: auto;
}

.submit-btn {
    margin-top: 20px;
}